body {
    text-align: center;
    background-color: azure;
}


h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}
div{
    margin-top:15px;
    
}
.image-section{
    display:flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left:25px;
    background-color: white;
}
